@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
}

body {
  background: #2B2D3B;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #494C65;
}

::-webkit-scrollbar-thumb {
  background: #676386;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9F9BDE;
}

::selection {
  background-color: rgba(221, 222, 104, 0.3); /* #DDDE68 at 30% opacity */
}
